.spacing {
	margin-right: 2% !important;
	margin-top  : 2% !important;
	display: inline;
	float: right;
}

.spacing-button {
	margin-top: 2% !important;
	margin-bottom: 2% !important;
}

.navbar-custom {
	display: block;
	float: right;
	width: 100%;
}

.wrapper {
	display: block !important;
    border-style: solid !important;
    border-width: 5px;
    padding: 1%;

}


.row.align-items-start {
    display: block !important;
}

.card {
    border: 0 !important;
}

.list-group.list-group-horizontal {
    display:block !important;
}

.black_box {
    display: block;
/*
    border-style: solid;
    border-width: 5px;

    padding: 2%;
    margin: 2%;
*/
}

.comment {
	text-align: center;
	display: block;
	margin: 1%;
}

.issue-detail-image {
	width: 98%;
	padding: 2%;

}

.detail-heading, .issue-detail {
	font-size: 2em;
}

.detail-heading {
	text-align: center;
}

.issue-detail-header {
	text-align: center;
	font-size: 4em;
	margin-top: 10px;
}

.user-actions {
	margin: 1%;
}


#loading {
	display: block;
	padding: 1%;
	z-index: 1000;
}